* {
  padding: 5px;
  margin: 5px auto;
  font-family: arial;
}
body {
  background-color: var(--color3);
}
.container div {
  border-radius: 5px;
  margin: 100px auto;
  color: black;
  min-width: 400px;
  width: 40%;
  text-align: center;
  background-color: white;
  padding: 25px;
  box-shadow: 0 0 5px 5px #ccc;
}
#features {
  text-align: left;
  width: fit-content;
}
h1 {
  text-align: center;
  justify-content: center;
  width: 390px;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 32px;
  display: inline-flex;
}
a:visited {
  text-decoration: none !important;
}
#button {
  background-color: var(--color2);
  color: white;
  margin: 0 auto;
  font-size: 28px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
#button:hover {
  background-color: var(--color4);
}
#cookies {
  height: 80px;
  font-weight: bold;
  font-size: 18px;
  font-family: Roboto;
  padding: 20px;
  color: white;
  background-color: blue;
  width: 50%;
  min-width: 600px;
}
#cookieLink {
  text-decoration: underline;
  cursor: pointer;
}
