* {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px auto;
  font-family: arial;
}
body {
  background-color: var(--color3);
}
select {
  width: 200px;
  text-align-last: center;
  height: 30px;
  font-size: 14px;
  border: solid #ffa31a 3px;
}
label {
  text-align: center;
  display: inline-block;
}
input {
  width: 200px;
  display: block;
  border: solid #ffa31a 3px;
}
.checkbox {
  display: inline-block;
  width: auto;
}
#button {
  margin: 10px auto;
  height: 35px;
  width: 165px;
  font-size: 20px;
  box-shadow: inset -3px -3px 10px #cc870a;
  background-color: var(--color1);
  color: white;
  border-radius: 15px;
  font-style: italic;
  padding: 0;
}
#button:hover {
  background-color: var(--color3);
}
textarea {
  display: block;
  resize: none;
  margin: 10px auto 5px;
  border: solid #ffa31a 3px;
}
h1 {
  color: gray;
  padding: 20px 20px 0px;
  text-align: left;
  font-size: 18px;
}
main {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  color: black;
  margin-top: 110px;
  width: 260px;
  background-color: white;
  box-shadow: 0 0 5px 5px #ccc;
}
@media only screen and (max-width: 810px) {
  h1 {
    margin-top: 125px;
  }
  header {
    width: 70%;
  }
}
.main button i {
  /*like button icon doesn't disrupt clicking like button*/
  pointer-events: none;
}
a:visited {
  text-decoration: none !important;
}
