a {
  text-decoration: underline;
  color: var(--color2);
}
main li a:hover {
  opacity: 60%;
}
.leftSidebar a:visited {
  color: black;
}
textarea,
#postText {
  padding: 0;
}
#linkType {
  text-align: center;
  text-align-last: center;
  width: 50%;
  font-size: 14px;
}
.leftSidebar h2 {
  /*group name*/
  margin: 15px 5px;
  text-align: left;
  overflow-wrap: break-word;
}
.leftSidebar h3 {
  text-align: left;
  color: green;
  margin-left: 30px;
}
.leftSidebar h4 {
  color: red;
  text-align: center;
  margin: 15px auto;
}
.leftSidebar ul {
  text-decoration: underline;
  text-align: left;
}
.leftSidebar #otherGroups {
  border-top: solid #ccc 3px;
  overflow: scroll;
  max-height: 260px;
}
.leftSidebar #otherGroups p {
  color: navy;
  font-weight: bold;
  padding-top: 5px;
  text-align: left;
}
.leftSidebar ul li a {
  text-decoration: none;
}
#commForm {
  display: flex;
  height: 50px;
}
#commForm button {
  margin: 0 auto;
}
#commForm textarea {
  margin: 0 10px;
}
.rightSidebar {
  color: white;
}
#postButton,
#memberButton {
  text-align: center;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  width: 50%;
  height: 50px;
  border: none;
  padding: 0;
  border-radius: 8px;
}

#postForm {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: calc(100% - 250px);
  padding: 20px 10px;
  border-radius: 20px;
}
#members {
  /*same as postform but appears on click*/
  display: none;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.notSelected {
  background-color: var(--color3);
  color: black;
}
.selected {
  background-color: white;
  color: black;
}
.hover:hover {
  cursor: pointer;
  color: white !important;
}
#invites {
  color: navy;
}
#linkType {
  height: 30px;
  font-weight: bold;
}
#leftButtons {
  text-align: center;
}
.leftButton {
  margin: 20px auto 0;
  width: 130px;
  background-color: var(--color3);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}
.leftSidebar button:hover {
  cursor: pointer;
  color: white;
}
.otherGroups,
.groupMembers {
  list-style-type: none;
  color: black;
}
.groupMembers {
  max-height: 180px;
  overflow-y: scroll;
}
.groupMembers li a {
  color: black;
}
.hostName {
  color: black !important;
  border: solid white 3px;
  padding: 5px 15px;
  width: 100%;
  margin: 0;
  border-radius: 15px;
  background-color: white;
}
