* {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px auto;
  font-family: arial;
}
a {
  text-decoration: underline !important;
}
a:visited {
  color: inherit;
}
.body {
  background-color: var(--color3);
}
textarea {
  resize: none;
}
input,
textarea {
  border: solid var(--color4) 3px;
}
h1 {
  padding: 30px;
  color: gray;
  min-width: 300px;
}
main {
  background-color: white;
  margin-top: 100px;
  max-width: 500px;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 0 5px 5px #ccc;
}
main ul {
  text-align: center;
  list-style-type: none;
  width: 200px;
}
main button {
  font-size: 20px;
  box-shadow: inset -3px -3px 10px #cc870a;
  background-color: #f7b31c;
  color: white;
  border-radius: 15px;
  font-style: italic;
  padding: 5px 12px;
  cursor: pointer;
  margin: 10px auto;
}
main button:hover {
  background-color: var(--color3);
}
main ul li {
  cursor: pointer;
  background-color: white;
  border: solid var(--color4) 1px;
}
main div {
  text-align: center;
  color: black;
  line-height: 28px;
}
p {
  color: red;
}
#message {
  padding-bottom: 25px;
}
#options li:hover {
  background-color: var(--color3);
}
.selected {
  background-color: var(--color3);
}
@media only screen and (max-width: 810px) {
  main {
    margin: 150px auto;
  }
}
