.leftSidebar h2 {
  font-family: Roboto, sans-serif;
  font-size: 42px;
  margin: 30px auto;
  color: var(--color3);
}
#genres {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
}
.leftSidebar select {
  text-align: center;
  margin: 0 auto 10px;
  height: 35px;
  width: 100px;
  text-align-last: center;
  font-size: 16px;
  background-color: var(--color2);
  font-style: italic;
  font-weight: 800;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.leftSidebar select:hover {
  color: navy;
  background-color: var(--color4);
}
.leftSidebar a {
  background-color: var(--color1);
  font-weight: bold;
  color: white;
  width: 49%;
  height: 40px;
  margin: 0 auto;
  border-radius: 50px;
  border: solid white 2px;
  padding: 10px 0;
  text-decoration: none !important;
  animation-duration: 2s;
  animation-name: genreSlide;
  box-shadow: 0 0 5px 5px #ccc;
}
@keyframes genreSlide {
  from {
    top: -200px;
    left: -300px;
  }
  to {
    top: 0px;
    left: 0px;
  }
}
.rightGenre {
  margin-top: 39px !important;
}
.rightSidebar {
  display: flex;
  flex-wrap: wrap;
  color: var(--color1);
}
#postForm {
  height: calc(100% - 250px);
  padding: 20px 10px;
  border-radius: 20px;
}
#postForm p {
  margin-top: 10px;
}
.rightButton {
  display: inline-flex;
  margin: 40px auto 0;
  width: 150px;
  height: 40px;
  background-color: var(--color2);
  border-radius: 5px;
  font-weight: 700;
  border: none;
}
#genres a:hover {
  cursor: pointer;
  background-color: var(--color3);
}
.rightSidebar button {
  cursor: pointer;
}
button:hover {
  color: white !important;
}
#spotLogin {
  background-color: var(--color2);
  position: fixed;
  bottom: 0;
  height: 120px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  font-family: Roboto;
  padding: 50px 100px;
  margin: 0px;
  left: 0;
  color: black;
}
