* {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px auto;
  font-family: arial;
}
body {
  background-color: black;
}
textarea,
#postText {
  padding: 0;
}
iframe {
  /*media*/
  padding: 0;
  width: 90%;
  margin: 8px 11px;
  border: solid gray 30%;
}
#create {
  background-color: white;
  padding: 20px;
  font-size: 24px;
  font-family: Georgia;
}
textarea {
  resize: none;
}
h1 {
  color: white;
  background-color: #ffa31a;
  text-align: center;
  margin: 0 0 20px;
}
header {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  padding: 0;
  border-radius: 5px;
  color: white;
  background-color: #3ca1c3;
  border: solid #ffa31a 3px;
  margin-top: 100px;
  min-width: 250px;
}
input {
  width: 150px;
  border: solid #ffa31a 3px;
}
header section {
  text-align: center;
  width: 80%;
}
button {
  /* post button */
  margin: 5px auto 10px;
  height: 40px;
  width: 160px;
  font-size: 20px;
  box-shadow: inset -3px -3px 10px #cc870a;
  background-color: #ffa31a;
  color: white;
  border-radius: 15px;
  font-style: italic;
  padding: 0;
  cursor: pointer;
}
#Submit,
#login-submit {
  /* other buttons */
  margin: 0 20%;
}
#new-login-submit {
  width: 80px;
  margin: 15px auto 0;
}
.fa-times {
  color: red !important;
}
.fa-times:hover {
  cursor: pointer;
}
.likeButtonLiked {
  background-color: #4da6ff !important;
  color: white;
}
.likeButtonLiked .fa-thumbs-up {
  color: white !important;
}
.fa-thumbs-up {
  color: gray !important;
}
.main button i {
  /*like button icon doesn't disrupt clicking like button*/
  pointer-events: none;
}
#searchResults {
  position: absolute;
  max-height: 300px;
  overflow: scroll;
  background-color: white;
  list-style-type: none;
  font-size: 16px;
  width: 300%;
  background-color: gray;
  right: 0;
  vertical-align: middle;
  align-items: center;
}
#searchResults li {
  border-bottom: solid black 1px;
  vertical-align: middle;
  display: flex;
  padding: 0px;
  margin: 0px;
}
#searchResults li img {
  width: 40px;
  height: 40px;
}
#searchResults li:hover {
  cursor: pointer;
}
.loadMoreButton {
  margin-right: 40% !important;
}
a:visited {
  text-decoration: none !important;
}
